*{
  box-sizing: border-box;
}

h1{
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 5px;
  word-spacing: 15px;
  text-decoration:underline;
  padding-top: 5%;
  font-weight: bolder;
}


.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.presentacion{
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

span{
  font-weight: bolder;
}

.botones_contacto{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 400;
  
}

button{  
  border-radius: 20px 5px;
  box-shadow: 5px 5px 10px grey;
}

button:hover{  
  border:2px dotted grey; 
}

a{
  text-decoration: none;
  color:antiquewhite
}

h2{
  text-transform: capitalize;
  letter-spacing: 3px;
  word-spacing: 10px;
  font-weight: bolder;
  padding-top: 4%;
  text-align: center;
}
h2::after{
  content: "-";
}
h2::before{
  content: "-";
}

.proyectos{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  column-gap: 50px;
  padding-left: 1%;
}

.marco{
  display: flex;
  justify-content: center;
  padding-top:3% ;
}
.marco_ver{
  width: 80vw;
  height: 80vh;
}