@use '@angular/material' as mat;

@include mat.core();

$dark-theme: mat.define-dark-theme(
  (
    color:(
      primary: mat.define-palette(mat.$green-palette,A200),
      accent: mat.define-palette(mat.$purple-palette,500),
      warn: mat.define-palette(mat.$pink-palette,300),
    ),
    typography: mat.define-typography-config(),
    density:0,
  )
);

//@include mat.all-component-themes($dark-theme);

.dark-mode{
  @include mat.all-component-colors($dark-theme);
}
